<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>오늘 뭐 입지?</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body>

<!-- 네비게이션 바 -->
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg px-3 mb-3" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img th:src="@{/images/logo.png}" width="100px" height="80px" class="ms-1">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-underline" id="navbarNav">
        <div class="d-flex w-100 justify-content-center">
          <div class="navbar-nav mx-auto">
            <a class="nav-link" href="#"><b>둘러보기</b></a>
            <th:block sec:authorize="isAnonymous()">
              <a class="nav-link" href="/users/login"><b>내 옷장</b></a>
              <a class="nav-link" href="/users/login"><b>내 옷차림</b></a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
              <a class="nav-link" th:href="@{/users/{username}/clothes(username=${#authentication.name})}"><b>내 옷장</b></a>
              <a class="nav-link" th:href="@{/users/{username}/outfits(username=${#authentication.name})}"><b>내 옷차림</b></a>
            </th:block>
          </div>
          <div class="navbar-nav">
            <th:block sec:authorize="isAnonymous()">
              <a class="nav-link" href="/users/sign-up"><b>회원가입</b></a>
              <a class="nav-link" href="/users/login"><b>로그인</b></a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
              <a th:href="@{/users/profile/{username}(username=${#authentication.name})}" class="nav-link"><b>내 정보</b></a>
              <a class="nav-link" href="/users/logout"><b>로그아웃</b></a>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- 내 옷장 -->
<div th:fragment="item-table(type, items)" class="table-responsive border rounded shadow-sm">
  <table class="table table-bordered m-0 text-center">
    <caption class="caption-top text-center">
            <span th:switch="${type.desc}">
                <h5 th:case="외투"><b>🧥 외투</b></h5>
                <h5 th:case="상의"><b>👕 상의</b></h5>
                <h5 th:case="하의"><b>👖 하의</b></h5>
                <h5 th:case="신발"><b>👞 신발</b></h5>
            </span>
    </caption>
    <thead class="table-secondary">
    <tr>
      <th>종류</th>
      <th>색</th>
      <th>계절감</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}" th:if="${item.type == type}">
      <td th:text="${item.detail}"></td>
      <td th:text="${item.color}"></td>
      <td>
        <span th:if="${item.forSpring == true}">봄</span>
        <span th:if="${item.forSummer == true}">여름</span>
        <span th:if="${item.forFall == true}">가을</span>
        <span th:if="${item.forWinter == true}">겨울</span>
      </td>
      <td>
        <form th:action="@{/users/{username}/clothes/{itemId}(username=${#authentication.name}, itemId=${item.id})}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');" class="m-0">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn p-0">
            <img th:src="@{/images/delete.svg}" width="25px" height="25px">
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- 옷차림 정보 출력 -->
<div th:fragment="print-outfit(outfit)" class="ms-2 mt-2 me-2 mb-2">
  <p class="text-start d-flex justify-content-between">
    <span th:text="|🌡 ${outfit.weather.tmp}°C|"></span>
    <span th:text="|💧 ${outfit.weather.reh}%|"></span>
    <span th:text="|🌪 ${outfit.weather.wsd}m/s|"></span>
    <span th:text="|☔ ${outfit.weather.pcp}|"></span>
    <span th:text="|✨ ${outfit.style.desc}|"></span>
  </p>
  <br>
  <p class="text-start" th:each="item : ${outfit.clothes}">
          <span th:switch="${item.type.desc}">
            <span th:case="외투">🧥</span>
            <span th:case="상의">👕</span>
            <span th:case="하의">👖</span>
            <span th:case="신발">👞</span>
          </span>
    <span th:text="|${item.type.desc} - ${item.detail} (${item.color})|"></span>
  </p>
</div>

<!-- 내 옷차림 -->
<div th:fragment="outfit-grid(outfit)" class="card" style="width: 100%; height: 300px;">
  <div class="border-1 rounded bg-light" style="width: 100%; height: 100%;">
    <div th:replace="~{fragments :: print-outfit(${outfit})}"></div>
  </div>
    <div class="d-flex justify-content-between border-top align-bottom">
      <div class="border-end" style="width: 75%;">
        <form th:action="@{/users/{username}/outfits/{outfitId}(username=${#authentication.name}, outfitId=${outfit.id})}"
              method="post"
              class="m-0" >
          <input type="hidden" name="_method" value="patch">
          <button type="submit" class="btn border-0" style="width: 100%;">
            <img th:if="${outfit.isPublic}" th:src="@{/images/globe_act.svg}" style="width: 25px; height: 25px;">
            <img th:if="${!outfit.isPublic}" th:src="@{/images/globe_deact.svg}" style="width: 25px; height: 25px;">
          </button>
        </form>
      </div>
      <div style="width: 25%;">
        <form th:action="@{/users/{username}/outfits/{outfitId}(username=${#authentication.name}, outfitId=${outfit.id})}"
              onsubmit="return confirm('정말 삭제하시겠습니까?');"
              method="post"
              class="m-0">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn border-0" style="width: 100%;">
            <img th:src="@{/images/delete.svg}" style="width: 25px; height: 25px;">
          </button>
        </form>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>